doctype html
html
  head
    title Sam's Site
    link(rel="stylesheet" href="css/main.css")
    script(src='js/app.js')
    
  body
    block content
      != yield
    block footer
      #footer
        p Copyright (c) 2015
